html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #5D5D5D;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    margin: 10px 0px;
}

h3 {
    font-size: 26px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-weight: 700;
}

h6 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
}

a {
    font-size: 15px;
    font-weight: 600;
}

li {
    font-size: 15px;
}

section {
    padding: 60px 0px;
}

@media(max-width: 480px) {
    section {
        padding: 60px 15px;
    }
}

.text-blue {
    color: #092759;
}

.text-purple {
    color: #513096;
}

.text-yellow {
    color: #F3B128;
}

.bg-blue {
    background: #092759;
}

.bg-yellow {
    background: #F8931F;
}

.bg-light-pink {
    background: #FDF0E0;
}

.btn.btn-brand {
    color: #4A3400;
    background: #F6BA1E;
    padding: 10px 25px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    /* border: 1px solid #F6BA1E; */
}

.btn.btn-brand:hover {
    background: #4A3400;
    color: #F6BA1E;
}


/*Slick CSS Begin*/

.slick-slide {
    height: auto;
}

.slider-container {
    position: relative
}

.slick-arrow {
    font-family: "Font Awesome 5 Free";
    background: transparent;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #092759;
    z-index: 1;
    border: 0;
    font-size: 0;
    outline: 0;
    border: 0;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    outline: 0;
}

button {
    outline: 0 !important;
}

.slick-arrow.slick-prev:before {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    color: #1d1818;
    font-size: 16px;
    line-height: 2.2;
    font-weight: 600;
}

.slick-arrow.slick-prev {
    left: -30px;
}

.slick-arrow.slick-next {
    right: -30px;
}

.slick-arrow.slick-next:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    color: #1d1818;
    font-size: 16px;
    line-height: 2.2;
    font-weight: 600;
}

@media(max-width: 480px) {
    .slick-arrow.slick-prev {
        left: -30px;
    }
    .slick-arrow.slick-next {
        right: -30px;
    }
}

.slick-dots {
    text-align: center;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 20px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer
}

.slick-dots li:only-child {
    opacity: 0
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.slick-dots li button::before,
.slick-dots li button:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: auto auto;
    width: 10px;
    height: 10px;
    background: 0 0;
    background: #003376;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.slick-dots li.slick-active button::before,
.slick-dots li.slick-active button:before {
    background: #fff;
    width: 10px;
    height: 10px
}

.slick-track {
    margin-left: initial;
    margin-right: initial;
}

@media(max-width: 480px) {
    .slick-arrow {
        top: 4%;
    }
}

.banners-slider .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 4%;
    right: 20%;
    text-align: right;
}


/*Slick Css END*/


/*Header CSS STARTS*/

header {
    background: #092759;
}

.topbar ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.topbar ul li {
    color: #EBFEFF;
    padding: 20px 10px;
    font-size: 14px;
}

.topbar ul li a {
    color: #fff;
    font-size: 20px;
}

.topbar ul li .text-large {
    font-size: 18px;
    font-weight: 700;
}

.nav-link {
    color: #FFFAF1 !important;
    font-size: 13px;
    font-weight: 400;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    color: #fff;
}

.dropdown-menu{
    background: #06214F;
    border-radius: 0;
    border: 0;
    margin-top: 0;
}

.dropdown-item{
    border: 0;
    font-size: 14px;
    border-bottom: 1px solid #5A606D;
    padding: .25rem 0.8rem;
    color: #fff;
}
.dropdown-item:last-item{
    border-bottom: 0;
}

.dropdown-toggle i {
    color: #F3B128;
    font-size: 12px;
    padding-left: 5px;
}

.dropdown-toggle::after {
    display: none
}

@media(max-width: 480px) {
    .topbar ul {
        margin-bottom: 5px;
    }
    .topbar ul li {
        font-size: 12px;
        padding: 5px;
    }
    .topbar ul li .text-large {
        font-size: 14px;
    }
    .nav-item {
        text-align: right;
    }
    .dropdown-item {
        text-align: right;
    }
}


/*Header CSS ENDS*/


/*Home Page CSS BEGINS*/

.banner-bg {
    min-height: 75vh;
    position: relative;
}

@media(min-width: 500px) {
    .banner-bg:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: linear-gradient(90deg, #F8931F 62%, transparent);
        width: 50%;
    }
    .banner-leadin {
        width: 75%;
    }
}

.banner-item {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.banner-content h1 {
    color: #092759;
}

.small-title {
    color: #524536;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    padding-left: 50px;
    margin-bottom: 0;
}

.small-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background: #F6BA1E;
    margin: auto;
}

.banner-leadin {
    color: #524536;
    font-weight: 700;
}

.subcopy-leadin {
    color: #524536;
    font-weight: 700;
}

@media(max-width: 480px) {
    .banner-bg {
        min-height: 50vh;
    }
    .banner-content {
        position: initial;
        background: #F8931F;
        padding: 30px 15px;
    }
}

.highlights-item {
    position: relative;
    border-right: 2px dashed #ddd;
}

.highlights-item h2 {
    color: #513096;
}

@media(min-width: 1023px){
    .flex-20-desktop{
        flex: 0 0 20%;
    }
    .flex-30-desktop{
        flex: 0 0 30%;
        max-width: 30%;
    }
}
@media(max-width: 1024px){
    .highlights-item h2{
        font-size: 28px;
    }
}

@media(max-width: 480px) {
    .highlights-item {
        border-right: 0px dashed #ddd;
    }
}

.expertise-card {
    border: 1px solid #0F3271;
    padding: 20px 30px;
    margin-bottom: 20px;
    min-height: 286px;
}

.expertise-card h2 {
    color: #0F3271;
}

.expertise-card img {
    float: right;
}

.expertise-card h4 {
    color: #F3B128;
    margin-top: 10px;
}

.expertise-card p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 25px;
}

.expertise-card a {
    color: #fff;
}

.expertise-card:hover {
    border: 1px solid #F3B128;
}

.showcase-tabs .nav-tabs {
    border: 0;
    width: 100%;
    justify-content: space-between;
}

.showcase-tabs .nav-tabs .nav-link {
    background: transparent;
    border: 0;
    padding: 5px 0px 0px;
    color: #092759 !important;
    font-size: 15px;
    font-weight: 400;
}

.showcase-tabs .nav-tabs .nav-link.active {
    border-bottom: 1px solid #513096 !important;
    font-weight: 700;
}

.showcase-tabs .tab-content {
    padding: 30px 0px;
}

@media(max-width: 480px) {
    .showcase-tabs .nav-tabs {
        justify-content: initial;
    }
    .showcase-tabs .nav-tabs .nav-item {
        width: 29%;
        text-align: center;
        background: transparent;
        margin: 5px;
        border: 1px solid #513096;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .showcase-tabs .nav-tabs .nav-link.active {
        border-bottom: 0 !important;
        background: #513096;
        width: 100%;
        color: #fff !important;
        padding: 5px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }
}

@media(max-width: 320px) {
    .showcase-tabs .nav-tabs .nav-link {
        font-size: 13px;
    }
}

.projects-card img {
    width: 100%
}

.projects-card h6 {
    color: #7B726A;
    font-weight: 400;
    padding: 10px 0px;
    border-bottom: 1px solid #D9CDBF;
}

.projects-card .project-location i {
    color: #513096;
}

.projects-card .project-link {
    background: transparent;
    border: 1px solid #7B726A;
    padding: 0px 10px;
    color: #513096;
    border-radius: 50px;
    text-decoration: none;
    float: right;
    font-weight: 400;
}

.projects-card .project-link:hover {
    background: #513096;
    color: #fff;
}

h1.large-heading {
    font-size: 50px;
}

.btn.btn-white {
    background: #fff;
    color: #333333;
    padding: 10px 30px;
    border-radius: 0;
    text-align: left;
    font-weight: 600;
}

.btn.btn-white:hover {
    background: #333333;
    color: #fff;
}

.border-bottom-yellow {
    border-bottom: 1px solid #F6BA1E;
}

.strength-card {
    border: 1px solid #0F3271;
    padding: 20px 30px;
    margin-bottom: 20px;
    min-height: 400px;
}

.strength-card img {
    margin-bottom: 20px;
}

.strength-card p {
    color: #fff;
    font-size: 13px;
}

.strength-card h4 {
    width: 80%;
}

.strength-card:hover {
    border: 1px solid #F3B128;
}

@media(max-width: 480px) {
    .strength-card h4 {
        width: 100%;
    }
}

.tick-list {
    padding-left: 0;
    list-style-type: none;
}

.tick-list li {
    padding-left: 30px;
    position: relative;
    color: #fff;
    margin-bottom: 10px;
}

.tick-list li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: #F6BA1E;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
}

@media(min-width: 768px) {
    .quotes-col {
        padding-left: 80px !important;
    }
}

.quotes-copy {
    font-size: 18px;
    line-height: 26px;
}

.left-quote {
    margin-top: -30px;
}

.right-quote {
    margin-bottom: -20px;
}

.founder-card {
    position: relative;
    padding-left: 65px;
}

.founder-card img {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
}

.founder-card p {
    font-size: 13px;
}

.blog-paper-article {
    color: #6E655F;
    margin-bottom: 0;
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 600;
}

.blog-paper-article span {
    padding-left: 30px;
    font-weight: 400;
    position: relative;
}

.blog-paper-article span:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #F3B53C;
    border-radius: 50px;
    left: 13px;
    top: 1px;
    bottom: 0;
    margin: auto;
}

.blog-title {
    color: #3B332E;
}

.blog-desc {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CBC0B4;
}

.blog-link {
    padding: 0;
    font-weight: 600;
    color: #513096;
    font-size: 15px;
}

@media(min-width: 768px) {
    .reachout-form {
        width: 70%;
    }
}

.kms-wrapper {
    font-size: 22px;
}

.text-skilles {
    text-align: justify;
}


/*Home Page CSS ENDS*/


/*FORM CSS BEGINS*/

.form-control {
    border-radius: 0;
    color: #AAAAAC;
    border: 1px solid #AFAFAF;
}


/*FORM CSS ENDS*/


/*Footer CSS BEGINS*/

footer {
    background: #092759;
}

.footer-logo {
    width: 130px;
}

.footer-website-info p {
    color: #fff;
    font-size: 13px;
}

.footer-card-wrapper {
    padding: 40px 0px 20px;
}

.footer-card-wrapper h4 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-contact-info {
    list-style-type: none;
    padding-left: 0;
}

.footer-contact-info li {
    position: relative;
    padding-left: 25px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 15px;
    width: 75%;
}

.footer-contact-info li i {
    position: absolute;
    left: 0;
    color: #fff;
    top: 7px;
}

.footer-contact-info li a {
    color: #fff;
    font-size: 13px;
}

.footer-menu-links {
    list-style-type: none;
    padding-left: 0;
}

.footer-menu-links li {
    margin-bottom: 5px;
    font-size: 13px;
}

.footer-menu-links li a {
    color: #fff;
    font-size: 13px;
}

.footer-border-bottom {
    border-bottom: 2px solid #465F85;
}

.social-links {
    list-style-type: none;
    padding-left: 0;
}

.social-links li {
    display: inline-flex;
    border: 1px solid #F6BA1E;
    background: #F6BA1E;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.social-links li a {
    color: #092759;
    font-size: 14px;
}

.subscribe-form-wrapper .form-control {
    height: 50px;
}

@media(max-width: 480px) {
    footer {
        padding: 0 15px;
    }
    .footer-card-wrapper {
        padding: 0px 0px 20px;
    }
    .footer-card-wrapper h4 {
        margin-bottom: 10px;
    }
}